body {
  display: block;
  font-family: "Times New Roman", Times, serif;
  background-image: url("https://img.freepik.com/free-photo/brown-wooden-flooring_53876-90802.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.full {
  height: 600px;
  left: 0px;
}
#h1 {
  font-size: 50px;
}
.heading {
  width: 100%;
  padding-top: 20px;
}

button {
  color: black;
  font-weight: bold;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-image: linear-gradient(white, gray);
  border-radius: 5px;
}

#data {
  width: 99%;
  height: 450px;
  text-align: right;
  justify-content: center;
  display: flex;
  padding-top: 30px;
}

.table {
  width: 750px;
}

table {
  color: aliceblue;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

table tr :hover {
  background-color: black;
}
#getdata {
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  padding: 5px;
}
